body {
    background-color: black;
    margin: 0;
    overscroll-behavior-y: contain;
}

#top-bar {
    background: white;
    width: 100%;
    height: 0;
    transition: 0.75s;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
#top-bar-search-bar {
    width: calc(80% - 60px);
    height: 60%;
    border: 1px solid lightgrey;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
#top-bar-search-bar:focus {
    outline: none;
}
#top-bar-search-bar-exit {
    background: transparent;
    border: none;
    color: blue;
    width: 20%;
    height: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: none;
}
#search-results {
    background-color: white;
    width: 100%;
    height: 0;
    display: none;
}
.search-item {
    width: 100%;
    height: 10%;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#top-bar-menu-button {
    background-image: url(Hamburger_Menu.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 25%;
    aspect-ratio: 1 / 1;
    transition: 0.75s;
}
#menu {
    background-color: white;
    width: 100%;
    height: 0;
    display: none;
    flex-flow: column;
}
.menu-item {
    background-color: rgba(200, 200, 200, 0);
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    transition: 0.25s;
    font-size: 5vh;
}
.menu-item:hover {
    background-color: rgba(200, 200, 200, 0.5);
}
.menu-item:active {
    background-color: rgba(200, 200, 200, 0.5);
}

#featured-page {
    background: white;
    width: 100%;
    height: 0;
    transition: 0.75s;
    display: grid;
    grid-template-columns: auto auto;
    box-shadow: 0 0 0;
}

.featured-page-item {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid lightgrey;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 0;
}
.featured-page-item-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    position: inherit;
    box-shadow: 0 0 0;
}
.featured-page-item-name {
    color: black;
    background-color: white;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 0;
}
.featured-page-item-price {
    color: black;
    background-color: white;
    backdrop-filter: blur(5px);
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    box-shadow: 0 0 0;
}
